.about__container{
    display: grid;
    grid-template-rows: 15% 10%;
    gap: 14%;
    padding-top: 4rem;
    
   margin-top: -5rem;
     }
   
     
     .about__cards{
       display: grid ;
       grid-template-columns: repeat(3,1fr);
       gap: 1.5rem;
       margin-bottom: 2rem;
       margin-top: -5rem;
       
     }
     .about__card {
        background: var(--color-bg-varient);
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
        padding-bottom: 2rem;
     }
     .about-icon{
        font-size:xx-large;
        color: var(--color-primary);
     }
    .about__card:hover{
      background: transparent;
      border-color: var(--color-primary-varient);
      cursor: default;
    }
    .about__card small{
      color: var(--color-light);
    }
    .about__card p{
      color: var(--color-light); 
    }
    @media screen and (max-width:1024px)  {
.about__container{ 
  grid-template-rows: 1fr;
  gap:0;
}
  }
  @media screen and (max-width:600px)  {
    .about__cards{
      display: grid;
      grid-template-columns:2fr 1fr ;
      gap: 1rem; 
    }
    .about__content{
      text-align: center;


      }
    }
      .top_pad{
        padding-top: 2rem;
      }
  